@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-back-900: #302e4d;
  --text-black-700: #504e70;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box !important;
}

::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}
.section.back-section {
  z-index: 1;
}
.section.active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}
@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* .hidden {
  display: none !important;
} */
.main-content {
  padding-left: 270px;
}
.pad-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.section .container {
  padding: 60px 0 70px;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
}
.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}
.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
/* aside */
.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
  transition: all 0.3s ease;
}

.aside .logo {
  position: absolute;
  top: 50px;
  width: 150px;
  color: var(--bg-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
}

.aside .logo a img {
  width: 100%;
}

.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}
.aside .nav-toggler.open span {
  background-color: transparent;
}
.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}
.aside .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}
.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}
.aside .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}
.aside .nav {
  display: block;
  margin-top: 200px;
  padding: 0;
}

.aside .nav li {
  margin-bottom: 20px;
}

.aside .nav li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}
.aside .nav li a.active {
  color: var(--skin-color);
}
.aside .nav li a:hover {
  color: var(--skin-color);
}
.aside .nav li a i {
  margin-right: 15px;
}
/* home section */
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}
.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
h3.hello {
  font-size: 28px;
  margin: 15px 0;
}
h3.hello span {
  font-family: "Clickeer Script", cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}
h3.profession {
  font-size: 30px;
  margin: 15px 0;
}
.typing {
  color: var(--skin-color);
}
.home-info p {
  margin-bottom: 40px;
  font-size: 20px;
  color: var(--text-black-700);
}
.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}
.home .home-img img {
  width: 100%;
  height: 100%;
}
.home-img::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: -20px;
  bottom: -40px;
}
.home-img::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left: -20px;
  top: -40px;
}
.home-bottom{
  display: flex;
  gap: 20px;
}
.cvbutton {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: var(--skin-color);
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: 2px solid var(--skin-color);
  background: transparent;
  transition: all 0.3s ease;
}

.cvbutton:hover {
  background: var(--skin-color);
  color: white;
}

.icon-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.icon-child {
  width: 50px;
  height: 50px;
  background-color: white; 
  border: 2px solid  var(--skin-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
.icon-child i {
  font-size: 20px;
  color: var(--skin-color);
  transition: color 0.3s ease;
}
.icon-child::after {
  content: attr(data-name);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.icon-child:hover {
  background-color: var(--skin-color);
}

.icon-child:hover i {
  color: white;
}

.icon-child:hover::after {
  color: var(--skin-color);
  opacity: 1;
}

/* About */
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-back-900);
}
.about .about-content .about-text h3 span {
  color: var(--skin-color);
}
.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}
.about .about-content .personal-info {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .about-content .personal-info .row:first-child {
  justify-content: space-between;
}
.about .about-content .personal-info .info-item {
  display: block;
  flex: 0 0 40%;
  max-width: 40%;
}
.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-back-900);
  border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-back-700);
  margin-left: 4px;
  display: inline-block;
}
.about .about-content .personal-info .info-item p span a {
  color: var(--text-back-700);
}
.about .about-content .buttons {
  margin-top: 30px;
}
.about .about-content .buttons .btn {
  margin-top: 10px;
}
/* .about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}
.about .about-content .skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .skills .skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress {
  background-color: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.about .about-content .skills .skill-item {
  margin-bottom: 30px;
}
.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}
.about .about-content .skills .skill-item .skill-percent {
  position: absolute;
  right: 0;
  color: var(--text-black-900);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
} */
.about .about-content .education {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}
.about .about-content .experience {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 30px;
}

.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0px;
}
.about .about-content .timeline .timeline-item::before {
  content: "";
  width: 2px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 2px;
  background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 2px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--text-back-700);
}

.about .about-content .timeline .timeline-date .fa {
  margin-left: 5px;
}

.about .about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: var(--text-back-900);
}
.about .about-content .timeline .timeline-sub-title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: var(--text-back-900);
}

.about .about-content .timeline .timeline-text {
  line-height: 25px;
  font-size: 12px;
  text-align: justify;
  color: var(--text-back-700);
}
.about .about-content .timeline .timeline-item ul {
  margin-left: 15px;
}
.about .about-content .timeline .timeline-item ul li {
  line-height: 18px;
  font-size: 12px;
  text-align: justify;
  color: var(--text-back-700);
  list-style: disc;
  margin-bottom: 5px;
}
/* skill container Styles */
.about .skills-section {
  padding: 40px 0;
}

.about .skills-section .skill-text {
  color: var(--text-black-700);
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 40px;
}

.about .skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
/* Card Styles */
.about .skill-card {
  width: 100%;
  height: 150px;
  background-color: #232329;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.about .skill-card .skill-name{
  font-size: 20px;
  font-weight: 500;
  color: lightgrey;
  opacity: 0; /* Initially hidden */
  position: absolute;
  bottom: 10px; /* Start below the card */
  transform: translateY(20px); /* Slide in from below */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.about .skill-card:hover {
  transform: scale(1.05);
  
}
.about .skill-card:hover .skill-name {
  opacity: 1; /* Make the skill name visible */
  transform: translateY(0); /* Move to its visible position */
}

.about .skill-card i,
.about .skill-card img {
  color: gray;
  font-size: 3rem;
  transition: color 0.3s ease;
}

.about .skill-card:hover i,
.about .skill-card:hover img {
  color: var(--skin-color);
}

/* Icon Specific Styling */
.about .skill-logo {
  width: 60px;
  height: auto;
  filter: grayscale(100%);
  transition: fill 0.3s ease, filter 0.3s ease;
}

.about .skill-card:hover .skill-logo {
  filter: grayscale(0%);
  fill: var(--skin-color);
}

/* service */
.service .container {
  padding-bottom: 40px;
}
.service .service-item {
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.service .service-item .service-item-inner {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
}
.service .service-item .service-item-inner .icon .fa {
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
  transition: all 0.5s ease;
}
.service .service-item .service-item-inner:hover .icon {
  background: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon .fa {
  font-size: 25px;
  color: #ffffff;
}

.service .service-item .service-item-inner h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: capitalize;
}
.service .service-item .service-item-inner .service-text {
  font-size: 16px;
  color: var(--text-back-700);
  text-align: justify;
  word-wrap: break-word;
  word-break: break-all;
  display: block;
  overflow: hidden;
  max-height: 50px; 
  line-height: 1.6;
  transition: max-height 0.5s ease;
}
.see-more {
  cursor: pointer;
  color: #007bff; 
  font-size: 14px;
}

.see-more.active {
  display: none;
}

.service-text.expanded {
  max-height: none !important; 
}
/* Portfolio */
.portfolio .container {
  padding-bottom: 40px;
}
.portfolio .portfolio-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
.portfolio .portfolio-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}

.portfolio-filter {
  text-align: center;
  margin-bottom: 20px;
}
.filter-btn {
  cursor: pointer;
  margin: 0 5px;
}
.filter-btn.active {
  background-color: #007bff;
  color: #fff;
}
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.portfolio-grid .portfolio-item {
  display: flex;
  flex: 0 0 33%;
  max-width: 33%;
  max-height: 250px;
  height: 250px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.portfolio .portfolio-item-inner {
  width: 100%;
  height: 100%;
  border: 6px solid var(--bg-black-100);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-img img {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}
.hover-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(255, 255, 255, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.3s ease;
  z-index: 1;
}

.view-details {
  background-color: var(--skin-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.view-details:hover {
  background-color: white;
  color: var(--skin-color);
  transform: scale(1.1);
}

.portfolio-img:hover .hover-overlay {
  height: 50%;
}

#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-title {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-back-900);
}

.modal-description {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  margin-bottom: 15px;
}

.modal-requirement {
  color: var(--skin-color);
  font-size: 20px;
  margin-bottom: 15px;
}

.modal-link {
  font-size: 16px;
  color: var(--bg-black-100);
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--skin-color);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.modal-link:hover {
  transform: scale(1.05);
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3 ease;
}
.modal .close:hover {
  font-size: 24px;
  color: var(--skin-color);
}

/* contact */
.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin: 20px;
  text-transform: uppercase;
}
.contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.contact .contact-info-item {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}
.contact .contact-info-item .icon {
  display: inline-block;
}
.contact .contact-info-item .icon .fa {
  font-size: 25px;
  color: var(--skin-color);
}
.contact .contact-info-item .icon h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-back-900);
}
.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-back-700);
  font-weight: 400;
}
.contact .contact-info-item p a {
  color: var(--text-back-700);
}
.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.contact .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .form-item {
  margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-back-700);
  transition: all 0.3 ease;
}
.contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
  height: 140px;
}
.contact .contact-form .btn {
  height: 50px;
  padding: 0 50px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 1199px) {
  .section .container {
    padding-top: 70px;
  }
  .aside {
    left: -270px;
  }
  .aside.open {
    left: 0;
    z-index: 111;
  }
  .aside .nav-toggler {
    display: flex;
    left: 30px;
  }
  .aside .nav-toggler.open {
    left: 300px;
  }
  .section {
    left: 0;
  }
  .section.open {
    left: 0;
    filter: blur(5px); /* Blurs the section */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Adds shadow on top */
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .contact .contact-info-item,
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .home .home-img {
    flex: 0 0 100%;
    max-width: 60%;
    margin: 50px auto 0;
  }
  .section .container {
    margin: 0 auto;
  }
  h3.hello {
    width: 100% !important;
  }
}
@media (max-width: 767.8px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .service .service-item,
  .about .about-content .education,
  .about .about-content .experience,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .section .container {
    padding: 20px 0 30px;
  }
  .about .about-content .personal-info .info-item {
    flex: 0 0 48%;
    max-width: 48%;
  }
}
@media (max-width: 575.8px) {
  .section {
    padding: 0;
    word-wrap: break-word;
  }
  .about .about-content .personal-info .info-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* min width */
@media (min-width: 640px) {
  .about .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .about .skills-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {

  .portfolio-filter {
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr) !important;
    max-width: 100%;
  }
  .portfolio-grid .portfolio-item {
    max-width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .section {
    padding-top: 50px;
  }
  .portfolio-grid .portfolio-item {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 410px) {
  .home-bottom{
    flex-direction: column;
  }
}
